<h2>๐ Chi tiแบฟt chi tiรชu</h2>

<p><strong>Ngรy chi:</strong> <%= @expense.spent_on.strftime("%d-%m-%Y") %></p>
<p><strong>Mรณn:</strong> <%= @expense.title %></p>
<p><strong>Sแป tiแปn:</strong> <%= number_with_delimiter(@expense.amount, delimiter: ",") %> โซ</p>
<p><strong>Ghi chรบ:</strong> <%= @expense.note.presence || "Khรดng cรณ" %></p>

<hr>

<%= link_to "โ๏ธ Sแปญa", edit_expense_path(@expense) %> |
<%= link_to "๐๏ธ Xoรก", expense_path(@expense), method: :delete, data: { confirm: "Bแบกn cรณ chแบฏc muแปn xoรก chi tiรชu nรy?" } %> |
<%= link_to "โฌ Quay lแบกi danh sรกch", expenses_path %>
